@import 'sections/header.css';
@import 'sections/footer.css';


/* Import post pages styles */
@import 'pages/posts/show.css';
@import 'pages/posts/create.css';
@import 'pages/posts/edit.css';

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

main {
    flex-grow: 1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.alert-danger{
    background-color: lightcoral;

}



.card {
    width: 300px;
    min-width: 300px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    /* box-shadow: 1px; */
}

.card-content {
    padding: 20px;
}

.card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card h2 a {
     text-decoration: none;
}

.card p {
    color: #555;
    font-size: 1rem;
    line-height: 1.5;
}

.notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgb(43, 105, 28);
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    display: none;
    z-index: 9999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.notification-message {
    margin-right: 10px;
}

.close-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
}

@media (max-width: 480px) {
    .card {
        width: calc(100% - 20px);
    }
}